{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/Private/admin.css">
    {% endblock %}

    {% block content %}

        <br>
            <h1 class="text-center mb-5 mt-5">
                Mets ton grain de sel

            </h1>

            <div class="container">
                <div class="row">

                        <div class="p-5 col-lg-5">
                            <p class="bg-white mb-0 p-3 rounded-top text-center fw-bold">
                                {{ legends.0.legend }}
                            </p>
                            <img id="image" src="/uploads/images/{{ meme.image }}" class="w-100 img-fluid rounded-bottom" alt="your image">
                        </div>

                        <div class="p-5 col-lg-7 fs-5">
                            <p class="text-white mt-3 mb-5 text-center">
                                Attention un message drôle est fortement recommandé :)
                            </p>
                            {% for legend in legends|slice(0, 4) %}
                                <div class="row">
                                    <div class="col-10">
                                        <p class="bg-dark text-white p-3 rounded mt-3">
                                            {{ legend.legend }}
                                        </p>
                                    </div>
                                    <div class="col-1 d-flex flex-column align-items-center">
                                        <form action="/vote/add?id={{ legend.meme_id }}" method="post">
                                            <input type="hidden" name="legend" value="{{ legend.id }}">
                                                <label for="addVote"></label>

                                                <button type="submit" id="addVote" name="addVote" class="btn btn-primary-outline">
                                                    <img src="/assets/images/pngegg.png" height="30px" alt="thumb_up" />
                                                </button>
                                            </div>
                                        </form>
                                        <div class="col-1">
                                            <p class="text-white text-start align-items-center mt-4">
                                                {{ legend.numVote }}
                                            </p>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="row">
                                    <div class="col-10">
                                        <form action="" method="post">
                                            <label for="addLegend" class="form-label text-white"></label>
                                            <textarea class="form-control" id="addLegend" name="addLegend" rows="2" placeholder="Ajoute ta légende"></textarea>
                                        </div>
                                        <div class="col-2">
                                            <button type="submit" class="mt-4 btn btn-primary-outline">
                                                <img src="/assets/images/plus.png" height="30px" alt="plus" />
                                            </button>
                                        </div>
                                    </form>
                                    <p class="text-center text-white mt-5 fs-3">
                                        Attention tout contenu pornographiques, injurieux, racistes où ne correspondant pas aux valeurs de respect sera soumis à une modération.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
